@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Typography */
body {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
}

/* article */

.article {
  font-size: 18px;
  color: #111827;
}

.article h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 32px;
}

.article h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  margin: 56px 0 24px 0;
}

.article p {
  font-weight: 300;
  line-height: 32px;
  margin: 24px 0;
}

.article strong {
  font-weight: 600;
}

.article a {
  color: #BE185D;
  font-weight: 400;
}

.article li {
  margin: 18px 0;
  line-height: 32px;
  font-weight: 300;

}

.article blockquote {
  margin: 24px 0;
  padding: 16px 18px;
  border-radius: 8px;
  line-height: 32px;
  font-weight: 300;
  font-style: italic;
  border-left: 4px solid #D6D3D1;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.article figure {
  margin: 32px 0;
}

.article img {
  border-radius: 8px;
}

.article figcaption {
  padding-top: 16px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

/* Layouts */
/* Containers */
.container-sm {
  max-width: 640px;
  padding: 0 16px;
  margin: auto;
}

.container, .container-md {
  max-width: 768px;
  padding: 0 16px;
  margin: auto;
}

.container-lg {
  max-width: 1024px;
  padding: 0 16px;
  margin: auto;
}

.container-xl {
  max-width: 1280px;
  padding: 0 16px;
  margin: auto;
}

/* Sections */
.section-sm {
margin: 32px 0;
}

.section, .section-md {
  margin: 48px 0;
}

.section-lg {
  margin: 96px 0;
}

.section-xl {
  margin: 144px 0;
}