/* button */

.button {
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
  line-height: 1em;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0.75em 1em;
  cursor: pointer;

  display: flex;
  gap: 0.35em;
  justify-content: center;
  align-items: center;
}

.button--sm{
  font-size: 0.8em;
  padding: 0.5em 0.75em;
}

.button--lg{
  font-size: 1.2em;
  padding: 0.875em 1.5em;
}

/* button default */

.button--default {
  background-color: var(--gray-300);
  color: var(--gray-900);
}

.button--default:hover {
  background-color: var(--gray-400);
}

.button--default:active {
  background-color: var(--gray-500);
}

.button--default:focus {
  outline: 0.1875em solid var(--info);
  outline-offset: 0.0625em;
}

.button--default:disabled {
  opacity: 0.6;
  background-color: var(--gray-300);
  cursor: default;
}

/* button primary */

.button--primary {
  background-color: var(--primary);
  color: var(--white);
}

.button--primary:hover {
  background-color: var(--primary-dark);
}

.button--primary:active {
  background-color: var(--primary);
}

.button--primary:focus {
  outline: 0.1875em solid var(--info);
  outline-offset: 0.0625em;
}

.button--primary:disabled {
  opacity: 0.6;
  background-color: var(--primary);
  cursor: default;
}

/* button secondary */

.button--secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.button--secondary:hover {
  background-color: var(--secondary-dark);
}

.button--secondary:active {
  background-color: var(--secondary);
}

.button--secondary:focus {
  outline: 0.1875em solid var(--info);
  outline-offset: 0.0625em;
}

.button--secondary:disabled {
  opacity: 0.6;
  background-color: var(--secondary);
  cursor: default;
}