.about-summary__header,
.about-hobbies__header {
  margin-bottom: 3rem;
  text-align: center;
}

.about-summary__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

.about-summary__card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

.about-summary__card svg {
  width: 3rem;
  height: 2rem;
  fill: var(--success-dark);
}

.about-hobbies {
  background-color: var(--background-dark);
}

.about-hobbies__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}