.about {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about-summary__header,
.about-hobbies__header {
  margin-bottom: 3rem;
  text-align: center;
}

.about-summary__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

.about-summary__card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

.about-summary__card svg {
  width: 3rem;
  height: 2rem;
  fill: var(--success-dark);
}

.about-hobbies {
  background-color: var(--background-dark);
  margin: 0;
}

.about-hobbies__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 0 1rem;
}

.about-hobbies__image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: .5rem;
}

.about-hobbies__paragraph {
  text-align: center;
  padding: .5rem .5rem;
}