body {
  background-color: var(--white);
}

.contact__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: .25rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-start;
  gap: 2rem;
}

.about__form_section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.input-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 0.375rem;
  gap: .25rem;
}

.about__form_checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 100%; */
  gap: .5rem
}

@media only screen and (max-width: 430px) {
  .about__form_section {
    flex-direction: column;
  }
}
